{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template scormreport_heatmap/precision_slider
}}
<form class="scormreport_heatmap_slider_wrapper">
<input type='hidden' name='id' value='{{scormid}}'> <input type='hidden' name='mode' value='heatmap'>
<input class="scormreport_heatmap_slider" type='range' name='sectioncount' min='1' max='100' step='1' oninput='this.nextElementSibling.innerHTML = "Studenten in " + this.value + " Gruppen sortieren"'>
<button class="btn btn-primary" type='submit' value='50'>Studenten in 50 Gruppen sortieren</button>
</form>